<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 id="title">We Didn't <br> re-invent the telephone</h2>
      <p id="subtitle">We just made communication a tad bit better :-)</p>
      <% if user_signed_in? %>
        <div class="login_status">Signed in as  <%= current_user.email %> </div>
      <% else %>
        <div class="first login_status">You are <b>not</b> signed in  
          <a href= <%= new_user_session_path %> class="btn btn-default btn-lg active" role="button">Login</a>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <img class="welcome_image" src="/assets/old_telephone.png">
    </div>
  </div>



