<div class="container">
  <div class="row">
    <div class="col-md-6">
      
      <h2 id="title">We Didn't <br> re-invent the telephone</h2>
      <p id="subtitle">We just made communication a tad bit better :-)</p>
      <% if user_signed_in? %>
        <div class="login_status">Signed in as  <b>&nbsp<%= current_user.email %></b> </div>
        <%= link_to 'User profile', users_path, :class => "btn btn-default" %>

      <% else %>
        <div class="first login_status">You are <b>not</b> signed in  
          <%= link_to 'Sign in', new_user_session_path, :class => "btn btn-default" %>      
        </div>
      <% end %>
   
    </div>

      <div class="col-md-6">
        <img class="welcome_image" src="/assets/old_telephone.png">
      </div>
    
    </div>
  </div>

<script>
$( "button" ).click(function() {
  $(".login_status").hide();
  $( "form" ).toggle( "slow" );
});
</script>





