// import the CSS framework
@import "bootstrap";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
@import url(http://fonts.googleapis.com/css?family=Lato:300,900);

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

// override for the 'Home' navigation link
.navbar {
  height: 54px;
  border-radius: 0 !important;
}

.navbar-brand {
  font-size: inherit;
  text-decoration: none !important;
  margin-top: -10px;
  padding-left: 30px !important;
  }

  .navbar-nav {
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 300;
  padding-left: 50px !important;
  }


// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }



// Section for nav icons
.nav_icon-large {
  font-size: 25px;
  padding-top: 10px;
  
}

// navigation section

.nav_link {
  margin-left: 40px;
  top: 7px;
}

.navbar-form {
  
}


#title {
  font-family: Lato, sans-serif;
  font-size: 81px;
  font-weight: 900;
  line-height: 67px;
  padding-top: 30px;
  padding-left: 60px;
}

#subtitle {
  font-family: Lato, sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: right;
  line-height: 30px;
  padding-top: 10px;
  padding-left: 60px;
}

.login_status {
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  line-height: 30px;
  padding-top: 10px;
  padding-left: 74px;
}

.btn {
  width: 100px !important;
}

  